---
interface Props {
    title: string;
    date: string;
    img: string;
    href: string;
    hrefTryOut: string;
}

const { title, date, img, href, hrefTryOut } = Astro.props;
const images = import.meta.glob('/public/images/*/*.{jpg,png,jpeg,gif,webp}');
const imageUrls = Object.keys(images).map((imagePath) => imagePath.replace('/public', ''));
const filteredImageUrls = imageUrls.filter(url => url.startsWith(`/images/${title}/`));
---

<button class="grid-element" id={title} style={`grid-area: ${title}`}>
    <div>
        <div class="inset">
            <img src={img} alt={img} id={`button-img-${title}`} />
            <span>
                <p>{title}</p>
                <p style="color: gray;">{date}</p>
            </span>
        </div>
    </div>
    <a href={href}>
        View Production
    </a>
</button>
<dialog id={`dialog-${title}`} class="dialog" data-current-index="0">
    <div>
        <div class="images">
            <button class="prev-button">&lt;</button>
            {filteredImageUrls.map((url, index) => (
                <img src={url} alt={url} class={index === 0 ? 'fade-in' : 'fade-out'} style={index === 0 ? 'display: block;' : 'display: none;'} />
            ))}
            <button class="next-button">&gt;</button>
        </div>

        <h1>{title}</h1>
        <p>Click the button below to view the production.</p>
        <br>
        <div class="dialog-buttons">
            <a href={href}>
                View Production
            </a>
            {hrefTryOut !== '' ? <a href={hrefTryOut}>Try out</a> : ''}
        </div>
    </div>
</dialog>

<script>
    const gridElements = document.querySelectorAll('.grid-element');
    gridElements.forEach(element => {
        element.addEventListener('click', (e) => {
            if(e.target instanceof HTMLAnchorElement) return;

            const target = e.currentTarget as HTMLElement;
            const dialog = document.getElementById(`dialog-${target.id}`) as HTMLDialogElement;
            const images = dialog.querySelectorAll('.images img') as NodeListOf<HTMLImageElement>;

            images.forEach((img, i) => {
                img.style.display = i === 0 ? 'block' : 'none';
                img.classList.toggle('fade-in', i === 0);
                img.classList.remove('fade-out');
            });

            dialog.dataset.currentIndex = '0';
            dialog.showModal();
            document.body.style.overflow = 'hidden';

            const handleDialogClose = (e: Event) => {
                if (e.target === dialog) {
                    dialog.classList.add('fade-out');
                    setTimeout(() => {
                        dialog.close();
                        dialog.classList.remove('fade-out');
                        document.body.style.overflow = 'auto';
                    }, 290);
                }
            };

            document.body.removeEventListener('click', handleDialogClose);
            document.body.addEventListener('click', handleDialogClose);

            const prevButton = dialog.querySelector('.prev-button') as HTMLButtonElement;
            const nextButton = dialog.querySelector('.next-button') as HTMLButtonElement;

            prevButton.style.display = images.length > 1 ? 'block' : 'none';
            nextButton.style.display = images.length > 1 ? 'block' : 'none';

            if (images.length <= 1) return;

            if (!dialog.dataset.listenersAdded) {
                const updateImageDisplay = (newIndex: number) => {
                    const currentIndex = parseInt(dialog.dataset.currentIndex || '0');
                    images[currentIndex].classList.remove('fade-in');
                    images[currentIndex].classList.add('fade-out');

                    setTimeout(() => {
                        images[currentIndex].style.display = 'none';
                        images[newIndex].style.display = 'block';
                        images[newIndex].classList.remove('fade-out');
                        images[newIndex].classList.add('fade-in');
                        dialog.dataset.currentIndex = newIndex.toString();
                    }, 290);
                };

                const handlePrevClick = () => {
                    const currentIndex = parseInt(dialog.dataset.currentIndex || '0');
                    if (images[currentIndex].classList.contains('fade-out')) return;
                    const newIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
                    updateImageDisplay(newIndex);
                };

                const handleNextClick = () => {
                    const currentIndex = parseInt(dialog.dataset.currentIndex || '0');
                    if (images[currentIndex].classList.contains('fade-out')) return;
                    const newIndex = (currentIndex < images.length - 1) ? currentIndex + 1 : 0;
                    updateImageDisplay(newIndex);
                };

                prevButton.addEventListener('click', handlePrevClick);
                nextButton.addEventListener('click', handleNextClick);

                dialog.dataset.listenersAdded = 'true';
            }
        });
    });
</script>


<style>
    .images {
        position: relative;
        width: 100%;
        height: 38vh;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
    }
    .images > img {
        border-radius: 1.5rem;
        display: none;
        max-width: -webkit-fill-available;
        max-width: -moz-available;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    @keyframes transformIn {
        from {
            transform: translate3d(0, 100%, 0);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    @keyframes transformOut {
        from {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        to {
            transform: translate3d(0, 100%, 0);
            opacity: 0;
        }
    }
    .fade-out {
        animation: fadeOut 0.3s;
    }
    .fade-out::backdrop {
        animation: fadeOut 0.3s;
    }
    .fade-in {
        animation: fadeIn 0.3s;
    }
    .fade-in::backdrop {
        animation: fadeIn 0.3s;
    }

    .fade-in > div {
        animation: transformIn 0.3s;
    }
    .fade-out > div {
        animation: transformOut 0.3s;
    }

    dialog {
        animation: fadeIn 0.3s;
        color: white;
        text-align: center;
        padding: 0;
        border: none;
        border-radius: 1.5rem;
        background: transparent;
        justify-items: center;
        align-content: center;
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        overflow: hidden;
        & h1 {
            font-size: 64px;
            margin-top: 0;
        }
        & > div {
            width: 40%;
            animation: transformIn 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.75);
            border: 3px solid rgba(24, 24, 24, 1);
            padding: 1.5rem;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
        &::backdrop {
            background-color: rgba(0, 0, 0, 0.75);
            backdrop-filter: blur(10px);
            animation: fadeIn 0.3s;
        }
    }
    .dialog-buttons {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 1rem;
    }
    .dialog-buttons > a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(14, 14, 14, 1);
        border-radius: 1.5rem;
        color: white;
        text-decoration: none;
        width: 100%;
        padding: 1vh 0;
    }
    .next-button, .prev-button {
        user-select: none;
        position: absolute;
        border-radius: 100rem;
        font-size: x-large;
        color: white;
        text-decoration: none;
        text-align: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border: none;
        background-color: rgba(32, 32, 32, 0.6);
        box-shadow: inset 0px 0px 15px 0px rgba(72, 72, 72, 0.5);
        backdrop-filter: blur(4px);
        z-index: 10;
    }
    .next-button {
        right: 1vw;
    }
    .prev-button {
        left: 1vw;
    }
    p {
        font-size: 26px;
        color: white;
        text-align: center;
        margin: 0;
    }
    .inset {
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -70px 20px -20px rgba(0, 0, 0, 0.75);
        position: relative;
        border-radius: 1.5rem;
        padding: 2px;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: -webkit-fill-available;
        width: -moz-available;
        bottom: 1rem;
        margin: 0 1rem;
    }
    p {
        font-size: 26px;
        color: white;
        text-align: center;
        margin: 0;
    }
    .grid-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid rgba(24, 24, 24, 1);
        border-radius: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        padding: 0.7rem;
        gap: 1vh;
        font-family: inherit;
        background-color: inherit;
        cursor: pointer;
        & > div {
            height: 100%;
        }
        & > a {
            background-color: rgba(14, 14, 14, 1);
            border-radius: 1.5rem;
            color: white;
            text-decoration: none;
            text-align: center;
            width: 100%;
            padding: 1vh 0;
        }
    }
    .inset > img {
        position: relative;
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 1.5rem;
        filter: blur(1px);
        z-index: -1;
    }
    @media screen and (max-width: 600px) {
        dialog {
            & > div {
                width: 80%;
            }
        }
        .images {
            height: 30vh;
        }
        .grid-element {
            padding: 0.5rem;
            /* height: 30vh; */
        }
        .inset {
            padding: 1px;
        }
        .next-button, .prev-button {
            width: 2rem;
            height: 2rem;
            font-size: large;
        }
    }
</style>